.product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 20px;
	-webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.15);
}

	.product__left-panel {
		border-right: 1px solid #ddd;
	}

		.product__band {
			margin-right: 10px;
			padding-bottom: 20px;
			text-align: center;
			border-bottom: 1px solid #ddd;
		}

		.product__band-logo {
			padding: 20px 10px 20px 20px;
		}

		.product__band-img {}

		.product__band-description {
			font-size: 16px;
			font-weight: bold;
		}
	
	.product__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding-left: 20px;
	}

		.product__card {
			-webkit-box-flex: 0;
			    -ms-flex: 0 0 25%;
			        flex: 0 0 25%;
			margin-bottom: 20px;
			text-align: center;
			cursor: pointer;
		}

			.product__card-img-container {
				min-height: 175px;
			}

				.product__card-img {
					max-width: 200px;
				}

				.product__card-title {
					padding: 15px 0 5px;
					font-size: 12px;
					color: #333;
				}

				.product__card-detail {
					font-size: 12px;
				}

				.product__card-price {
					font-size: 16px;
					color: #f25950;
				}

	.product__detail {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

		.product__detail-left {
			padding: 0 60px;
		}

			.product__detail-logo {}

			.product__detail-img {
				max-width: 300px;
			}

		.product__detail-right {
			-webkit-box-flex: 1;
			    -ms-flex: 1;
			        flex: 1;
		}

			.product__detail-title {
				padding-bottom: 10px;
				font-size: 20px;
				font-weight: bold;
			}

			.product__detail-price {
				font-size: 24px;
			    font-weight: bold;
			    color: #f25950;
			}

			.product__detail-info {
				padding-top: 20px;
			}

				.product__detail-info-header {
					padding-bottom: 10px;
					border-bottom: 2px solid #ddd;
				}

				.product__detail-info-body {
					padding-left: 10px;
					font-size: 14px;
				}

				.product__detail-info-body li {
					line-height: 18px;
					list-style: none;
				}